<div *ngIf="isOpen && character" tabindex="-1" aria-hidden="true" class="fixed flex overflow-y-auto overflow-x-hidden top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full" aria-labelledby="modal-title" role="dialog" aria-modal="true">
	<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
	<div class="relative w-full p-4 max-w-4xl max-h-full">
		<!-- Modal content -->
		<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
			<!-- Modal header -->
			<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
				<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
					{{loading ? 'Cargando...' : character.name}}
				</h3>
				<button (click)="closeModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
					<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
			</div>
			<!-- Modal body -->
			<div class="p-4 md:p-5 space-y-4">
				<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
					{{ character | json}}
				</p>
				
				<!-- transformaciones -->
				<div class="bg-white dark:bg-transparent" style="margin-bottom: 5rem;" *ngIf="character.transformations && character.transformations.length > 0">
					<div class="mx-auto max-w-2xl lg:max-w-7xl">
						<h2 class="dark:text-white text-cyan-950 py-6 my-10">Transformaciones</h2>
						
						<div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
							<div class="relative mx-auto w-full" *ngFor="let image of character.transformations">
								<div class="flex justify-center rounded-lg h-[280px]">
									<div class="flex justify-center transition-transform duration-500 ease-in-out w-full h-30">
										<div class="inset-0 w-full overflow-hidden rounded backdrop-brightness-200 h-[250px]">
											<svg class="inset-0 bg-black opacity-10 bg-gradient-to-r" viewBox="0 0 375 283" fill="none" style="opacity: 0.2;height:100%;width: inherit;">
												<rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
												<rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
											</svg>
										</div>
										<img [src]="image.image" [alt]="image.name" class="bg-inherit object-top object-contain absolute h-[250px] drop-shadow-md transition-transform duration-300 scale-125">
									</div>
								</div>
								<div class="mt-4">
									<h3 class="mt-4 text-lg text-gray-700 dark:text-white">{{image.name}}</h3>
									<p class="mt-1 text-sm font-medium text-gray-900 dark:text-gray-300">{{image.ki}}</p>
								</div>
							</div>
							
							<!--<a href="#" class="group" *ngFor="let image of character.transformations">
								<div class="h-64 w-full overflow-hidden rounded-lg bg-gray-200">
									<img [src]="image.image" [alt]="image.name" class="h-full w-full object-cover group-hover:opacity-75 transition-opacity duration-300">
								</div>
								<h3 class="mt-4 text-lg text-gray-700 dark:text-white">{{image.name}}</h3>
								<p class="mt-1 text-sm font-medium text-gray-900 dark:text-gray-300">{{image.ki}}</p>
							</a>-->
						</div>
					</div>
				</div>

				<div class="my-10 flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
					<img class="object-cover w-full h-full rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" [src]="character.originPlanet?.image" [alt]="character.originPlanet?.name">
					<div class="flex flex-col justify-between p-4 leading-normal h-full">
						<h5 class="mb-1 text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
							{{character.originPlanet?.name}}							
							<span *ngIf="character.originPlanet?.isDestroyed" class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
								<span class="w-2 h-2 me-1 bg-red-500 rounded-full"></span>
								Destroyed
							</span>
						</h5>
						<p class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-400 flex-grow">
							{{character.originPlanet?.description}}
						</p>
					</div>
				</div>			

			</div>
			<!-- Modal footer -->
			<div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
				<button (click)="closeModal()" data-modal-hide="default-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">ok</button>
			</div>
		</div>
	</div>
</div>
