<div class="character-list">
  <div *ngFor="let character of characters" class="character-card">
    <img [src]="character.image" [alt]="character.name" />
    <h2>{{ character.name }}</h2>
    <p><strong>Raza:</strong> {{ character.race }}</p>
    <p><strong>Género:</strong> {{ character.gender }}</p>
    <p><strong>Afiliación:</strong> {{ character.affiliation }}</p>
    <p><strong>Ki:</strong> {{ character.ki }} / {{ character.maxKi }}</p>
    <p>{{ character.description }}</p>
  </div>
</div>
